*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 70%;
  height: 80px;
  margin: auto;
}

.navbar-left, .navbar-right{
  float: left;
}


.navbar-left img{
  width: 15%;
  display: inline;
}

.navbar-left{
  width: 50%;
  height: 100%;
  float: left;
  display: inline-block;
  line-height: 80px;
}

.navbar-left a{
  text-decoration: none;
  color: grey;
  margin: 0 15px;
}

.navbar-right{
  width: 50%;
  height: 100%;
}

.item{
  display: inline-block;
  line-height: 80px;
  position: relative;
}

.item > a{
  margin-left: 15px;
  text-decoration: none;
  color: grey;
}

.item:last-child a{
  margin-left: 20px;
  text-decoration: none;
  color: white;
  background: #D8328B;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 700;
}

.dropdown{
  display: none;
  position:absolute;
  padding: 10px;
  width: 222px;
  height: auto;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

.dropdown-item a{
  text-decoration: none;
  color: grey;
  margin-bottom: 5px;
}
